header {
  color: #F1F1EC;
  display: flex;
  align-items: center;
  padding: .5em 2em 1.5em;
  width: 100%;
}

header h1 {
  font-size: 3.5rem;
}

header h2 {
  line-height: 1.5;
  font-size: 1.6rem;
  font-style: italic;
}

