.hero-links-container {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.hero-link {
  background-color: rgb(80, 80, 80);
  width: 200%;
  padding: 0.25em;
}

span {
  font-size: xxx-large;
  font-weight: 600;
}

em {
  font-size: small;
}
